<div class="depot_form"> 
	<% if flash[:alert] %>
		<p id="notice"><%= flash[:alert] %></p> 
	<% end %>

	<%= form_tag(login_path) do %> 

			<div>
        		<%= text_field_tag :name, params[:name], placeholder: 'Name' %>
			</div>

			<div>
        		<%= password_field_tag :password, params[:password], placeholder: 'Password' %>
			</div>

			<div>
				<%= submit_tag "Login" %>

			</div>

	<% end %>
</div>

				<%= button_to 'Register', new_user_path, method: :get %> 