<p id="notice"><%= notice %></p>

<p>
	<%= @entry.user.name %>
	at
	<%= @entry.created_at %>
	says:
    
      <p>
        <%= @entry.header %>
      </p>

	<p>
  		<%= @entry.body %>
	</p>
</p>


<%= link_to 'Destroy', @entry, method: :delete, data: { confirm: 'Are you sure?' } if @entry.user_id == session[:user_id] %>
<%= link_to 'Back', entries_path %>
