<p id="notice"><%= notice %></p>

<p>
	<%= @entry.user.name %>
	at
	<%= @entry.created_at %>
	says:
	<p>
  		<%= @entry.body %>
	</p>
</p>


<%= link_to 'Edit', edit_entry_path(@entry) %> |
<%= link_to 'Back', entries_path %>
