<!DOCTYPE html>
<html>
<head>
  <title>Sexyblog</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="side">
	It is our sexyblog.
	<p>Hello, 
		<%= User.find(session[:user_id]).name %>
	</p>
</div>

<div id="main">
	<%= yield %>
</div>

</body>
</html>
