<!DOCTYPE html>
<html>
<head>
  <title>Sexyblog</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="side">
	It is our <%= link_to 'sexyblog.', "/" %> 
	<% if session[:user_id] %>
		<p>Hello, 
			<%= current_user.name %>
		</p>
		<%= button_to 'Logout', logout_path, method: :delete %>
	<% else %>
		<%= render template: "sessions/new" %>
	<% end %>
</div>

<div id="main">
	<%= yield %>
</div>

</body>
</html>
